.mens {
  display: grid;
  grid-template-rows: 10rem auto;

  &-header {
    text-align: center;
    padding: 2rem;
  }
}
.mens-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  margin: 0 auto;
}
