@mixin center-flex {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbar {
  background-color: rgb(239, 192, 221);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &-list {
    @include center-flex;
    justify-content: flex-start;

    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 1rem;
    justify-self: center;
  }
  &-item {
    padding: 0.6rem;
    &:hover {
      border-bottom: 1px solid black;
    }
  }
  &-link {
    color: #000;
    text-decoration: none;
    transition: opacity 0.7s;
    &:hover {
      opacity: 0.7;
      color: aliceblue;
    }
  }

  &-header {
    @include center-flex;
    h1 {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
    }
  }
  &-login {
    @include center-flex;
  }
}
.navbar-login {
  display: flex;
  gap: 1rem;
  &-search {
    border: none;
    margin-left: 2rem;

    &:focus,
    ::selection {
      outline: none;
      background-color: antiquewhite;
      border: 1px solid blue;
      border-radius: 4px;
      overflow: none;
    }
  }
  &-search-overlay {
    width: 40rem;
    background-color: transparent;
    padding: 2rem;
    border: none;
    color: #000;
    height: 2rem;
    top: 10rem;

    &:focus,
    ::selection {
      outline: none;
      background-color: antiquewhite;
      border: 1px solid blue;
      border-radius: 4px;
      overflow: none;
      border: none;
    }
  }
}
.navbar-login-link {
  color: #000;
  display: flex;
}
.overlay-search {
  width: 100vw;
  height: 30rem;

  top: 0;
  left: 0;
  position: absolute;
  background-color: rgb(152, 134, 134);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  z-index: 10;
  visibility: hidden;
  gap: 3rem;
  &-closeIcon {
    color:#fff;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    padding: 1rem;
  }
}
